.heroSection {
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  /* overflow-x: hidden; */
}
.heroSection > div {
  width: 100%;
}
@media (min-width: 1100px) {
  .heroSection > div {
    flex: 1;
  }
}
.heroContent {
  margin-top: 60px;
}

.heroContent h3,
.heroContent h1,
.heroContent p,
.heroContent .buttonContainer {
  padding-bottom: 30px;
  text-align: center;
}

@media (min-width: 1100px) {
  .heroContent h3,
  .heroContent h1,
  .heroContent p,
  .heroContent .buttonContainer {
    text-align: left;
  }
}
.heroContent h3 {
  font-size: 1.25rem;
  color: var(--theme-color);
}
.heroContent h1 {
  color: var(--font-color);
  font-size: 4.4rem;
  line-height: 5.5rem;
  padding-inline-end: 0;
  position: relative;
}
.heroContent img[alt='Icon'] {
  height: 12px;
  width: 300px;
  object-fit: cover;
  position: absolute;
  right: 40px;
  z-index: -1;
  top: 40px;
}
.heroContent p {
  color: #5e6282;
  font-size: 1rem;
  line-height: 1.8rem;
  font-weight: 500;
  min-height: 118px;
}
.buttonContainer {
  display: flex;
  justify-content: center;
}
.buttonContainer button:nth-child(2) {
  border: none;
  border-radius: 10px;
  height: 60px;
  min-width: 170px;
  font-weight: 500;
  transition: var(--link-transition);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff00;
  color: #686d77;
  font-size: 1.06rem;
}
.buttonContainer button:nth-child(2) img {
  width: 60px;
  height: 60px;
  margin-inline-end: 15px;
}
.buttonContainer button:hover {
  opacity: 0.5;
}
.buttonContainer button:nth-child(1) {
  margin-inline-end: 20px;
}
.bulletContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
}
@media (min-width: 1100px) {
  .bulletContainer,
  .buttonContainer {
    justify-content: flex-start;
  }
}
.bulletContainer > div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: var(--link-transition);
  cursor: pointer;
}
.bulletContainer > div.active {
  width: 52px;
  height: 52px;
  
}

.bulletContainer span span {
  padding: 1.5px;
  background-color: #353535;
  border-radius: 50%;
  margin: 0 5px;
}
.bulletContainer div:hover {
  opacity: 0.5;
}
.bulletContainer div:nth-child(1) {
  background-color: var(--theme-color);
}
.bulletContainer div:nth-child(3) {
  background-color: #a6e51c;
}
.bulletContainer div:nth-child(5) {
  background-color: #ff7c16;
}
.heroImage img[alt='Hero Image'] {
  width: 95vw;
}
.AnimatedImg {
  display: none;
}
@media (min-width: 1100px) {
  .heroImage {
    position: relative;
    display: flex;
    align-items: flex-end;
  }
  .heroImage img[alt='Hero Image'] {
    max-width: 550px;
    object-fit: contain;
    z-index: 2;
  }
  .AnimatedImg {
    animation: spin 6s linear infinite;
    display: inline;
    position: absolute;
    width: 1000px;
    height: 1000px;
    object-fit: contain;
    top: -450px;
    right: -650px;
  }
}

.servicesWrapper {
  background-color: #efefef;
  width: 100vw;
  min-height: 500px;
  position: relative;
}
.servicesWrapper img[alt='Things We Do'] {
  display: none;
}
.servcesContainer {
  margin: 0 auto;
  min-height: 740px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.servcesContainer .servicesContent,
.servcesContainer .servcesImages {
  width: 100%;
}
.servcesImages {
  display: flex;
  flex-wrap: wrap;
}

.servcesImages > div {
  width: 100%;
  justify-content: center;
  display: flex;
}

.servcesImages > div:nth-child(1) {
  order: 3;
  justify-content: center;
}

.servcesImages > div img {
  width: 100%;
}

.serviceImgWrapper > div {
  display: none;
}
@media (min-width: 1100px) {
  .servcesImages {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: -230px;
    flex-wrap: nowrap;
  }
  .servcesImages > div {
    min-height: 700px;
    width: 230px;
    display: block;
  }
  .servcesImages > div:nth-child(3) {
    padding-top: 60px;
    order: 3;
  }
  .servcesImages > div:nth-child(2) {
    padding-top: 180px;
    order: 2;
  }
  .servcesImages > div:nth-child(1) {
    padding-top: 300px;
    order: 1;
  }
  .servcesImages > div img {
    width: 230px;
    height: 230px;
    margin-top: -10px;
    object-fit: cover;
  }

  .serviceImgWrapper {
    position: relative;
  }
  .servcesImages > div img[alt='Arrow'] {
    width: 25px;
    height: 25px;
    margin-top: 3px;
  }
  .serviceImgWrapper > div {
    width: 230px;
    height: 230px;
    top: -10px;
    left: 0%;
    position: absolute;
    transition: var(--link-transition);
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .serviceImgWrapper > div span {
    color: #ffffff00;
    padding: 20px 0;
  }
  .serviceImgWrapper > div img {
    display: none;
  }
  .serviceImgWrapper:hover > div {
    background-color: #10255680;
  }
  .serviceImgWrapper:hover > div span {
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    align-items: center;
  }
  .serviceImgWrapper:hover > div span img {
    display: block;
    margin-inline-start: 20px;
    margin-inline-end: 10px;
  }
}

.servcesContainer .servicesContent {
  background-color: var(--theme-color);
}
@media (max-width: 1320px) {
  .servcesImages {
    right: -110px;
  }
  .servcesImages > div img {
    width: 170px;
    height: 190px;
  }
  .servcesContainer {
    min-height: 600px;
  }
}
@media (min-width: 1100px) {
  .servcesContainer .servicesContent {
    width: 65%;
  }
  .servcesContainer .servcesImages {
    width: 35%;
  }
  .servicesWrapper img[alt='Things We Do'] {
    display: block;
    position: absolute;
    top: 0%;
    left: -135px;
  }
}
@media (max-width: 968px) {
  .servcesImages > div:nth-child(1) {
    padding-top: 0;
  }
  .servcesImages > div img {
    width: 100%;
  }
}
.contentContainer {
  width: 100%;
  min-height: 500px;
}
.contentContainer h2,
.contentContainer p {
  padding-top: 60px;
  text-align: center;
}
.contentContainer h2 {
  color: #253776;
  font-size: 3.4rem;
}
.contentContainer p {
  font-size: 1.6rem;
  line-height: 2.25rem;
  color: #fff;
}
@media (min-width: 1300px) {
  .contentContainer p,
  .contentContainer h2 {
    padding-inline-end: 100px;
  }
}

@media (min-width: 1100px) {
  .contentContainer {
    max-width: 900px;
  }
  .contentContainer p,
  .contentContainer h2 {
    text-align: right;
    padding-inline-end: 30px;
  }
  .contentContainer p {
    min-width: 500px;
    margin-inline-start: auto;
  }
}
.newsSection {
  position: relative;
}
.newsSection > img[alt='News BG'] {
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: -1;
}
.newsContainer {
  min-height: 500px;
  padding-bottom: 35px;
}
.newsContainer h4,
h2 {
  text-align: center;
  padding-top: 30px;
}
.newsContainer h4 {
  color: #5e6282;
  font-size: 1.12rem;
  font-weight: 600;
}
.newsContainer h2 {
  color: #14183e;
  font-size: 3.12rem;
}
.selectionButtons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 30px 0;
  overflow-x: auto;
}
.selectionButtons button {
  font-size: 1.12rem;
  background-color: #e3e3e3;
  border: none;
  color: #0f526e;
  width: 123px;
  height: 41px;
  border-radius: 11px;
  margin: 0 15px;
  transition: var(--link-transition);
  cursor: pointer;
  flex-shrink: 0;
}
.selectionButtons button.newsActive {
  background-color: #46cfff;
  color: #fff;
}
.selectionButtons button:nth-child(1) {
  margin-inline-start: auto;
}
.selectionButtons button:last-child {
  margin-inline-end: auto;
}
.selectionButtons button:hover {
  opacity: 0.6;
}
.newsCards {
  display: flex;
  flex-wrap: wrap;
}

.newsButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.newsButtonContainer button {
  min-width: 260px !important;
}
.newsButtonContainer button:hover {
  opacity: 0.6;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
